.intro {
  padding: 10px;
  max-width: 960px;
  width: 100%;
  margin: 100px auto 500px;
}
.SourceSansPro {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 600;
  font-weight: bolder;
}

.TitleFont {
  font-size: 1000;
  font-weight: bolder;
}
